
<table class="table table-hover">
    <thead>
    <tr>
        <th>课程名</th>
        <th>描述</th>
        <th>封面</th>
        <th>时间</th>
        <th>报名数</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
